/Laborator 2/dist/
/Laborator 2/build/
Laborator 2/nbproject/private/private.xml

/Master/Laborator 4/.idea/workspace.xml
/Master/Laborator 4/.idea/workspace.xml
/Master/Laborator 4/.idea/workspace.xml
